@model CookingRecipe.Web.Infrastructures.Domain.Models.Instruction
@{
    Layout = "~/areas/manage/views/shared/_manageLayout.cshtml";
}



<div class="section-title text-center">
    <h2>Instruction of @Model.Cooking.Name</h2>
    <p></p>
</div>

<div>
    <h4> Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Step
        </dt>
        <dd class="col-sm-10">
            @Model.Step
        </dd>

        <dt class="col-sm-2">
            Total Step
        </dt>
        <dd class="col-sm-10">
            @Model.TotalStep
        </dd>


        <dt class="col-sm-2">
            Time Cook
        </dt>
        <dd class="col-sm-10">
            @Model.Time
        </dd>

    </dl>
</div>
<div>
    <a href="~/manage/ingredients/edit/@Model.Id" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>
    <a href="~/manage/ingredients/index" class="btn btn-danger">Back to List</a>
</div>